@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-size: 100% 100%;
        background-color: #fea8f3;
    }
</style>
<p><br /><br /><br /><br /></p>
<div class="text-center">
    <h1 style="color:navy"class="display-4">Mikaela L. Jintalan<br />BSCS-31E1</h1>
    <p><br /><br /></p>
    <h1> <a href="https://github.com/mikaelajintalan">Visit my github repositories.</a></h1>
</div>
